{% extends "blog/base.html" %}
{% block content %}
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
        <!-- At this point of creating this template, you get 
        an error - NoReverseMatch at /password-reset/. Django is using the password_reser_email template
        in the background to send email to the requested email.
        There are two parameters uidb64 - username encoded in base 64
        and token to verify that the same person is accessing this link -->
    </div>
{% endblock content %}
